name: PIP packages
on:
  push:
    branches: [master]
env:
  TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
  TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
jobs:
  linux:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        pyver: [cp310-cp310]
    steps:
    - uses: actions/checkout@v4
    - name: Docker Image
      run: docker build SDK -t pypi
    - name: Build
      run: |
        docker run -e PYVER=${{ matrix.pyver }} -e SKBUILD_BUILD_OPTIONS=-j4 --rm -v `pwd`:/workspace pypi
        f=`ls *.whl`
        mv $f ${f/linux/manylinux_2_28}
        pip3 install twine
        python -m twine upload --repository pypi *.whl